<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 1</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>Step 1: Copying the keys</h2>
<p>
    There is no such thing as a Bitcoin. The virtual currency is nothing more than a public ledger system, called the
    blockchain, that keeps track of an ever-expanding list of addresses, and how many units of bitcoin are at those
    addresses.
    <br><br>
    If you own Bitcoin, what you actually own is the private cryptographic key to unlock a specific address. The
    private key looks like a long string of numbers and letters. You may choose to store your key, or keys if you have
    multiple addresses, in a number of places including a paper printout, a metal coin, a hard drive, an online
    service, or a tattoo on your body.
    <br><br>
    All methods can be protected with various levels of security, but all methods are vulnerable to theft since the
    robbery simply depends on gaining access to the string. “I recommend creating physical paper wallets using an Arch
    Linux boot which has never been online,” says Marak Squires, an early Bitcoin adopter who is developing a secure
    Bitcoin bank. “Unfortunately, this is not an option for most people. For the average user there are no good options
    right now to securely store cryptocurrencies.”
    <br><br>
    The most lucrative attacks are carried out on online services that store the private keys for a large number of
    users, as Sheep Marketplace did. It seems these attacks are often carried out by insiders who don’t have to do much
    hacking at all. Just copy the database of private keys and you can gain control of the bitcoins at all those
    addresses. You, the thief, can now spend those bitcoins whenever you want, as long as the owner doesn’t move
    them first.
</p>
<p>Content taken from <a
        href="https://www.theverge.com/2013/12/19/5183356/how-to-steal-bitcoin-in-three-easy-steps">here.</a></p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>