<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stealing Bitcoin</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h1>
    How to steal Bitcoin in three easy steps
</h1>
<h2>
    And once you’ve stolen it, how do you unload it?
</h2>
<p>
    Earlier this month, someone pulled off the largest heist in the history of Bitcoin, the virtual currency that
    approximates cash on the internet. The illegal drug bazaar Sheep Marketplace was plundered, either by hackers or
    insiders, and about $100 million worth of the currency was stolen from customers.
    <br><br>
    Bitcoin heists are actually not uncommon. In June of 2011, a user named Allinvain was the victim of what is
    arguably the first recorded major Bitcoin theft. Allinvain awoke to find that a hacker had stolen about half a
    million dollars’ worth of bitcoins. “I feel like killing myself now,” he wrote at the time.
    <br><br>
    There have been dozens of Bitcoin thefts since then. The supposedly high-return investment fund Bitcoin Savings &
    Trust turned out to be a pyramid scheme, its owner charged with ripping off investors for $4.5 million in bitcoins.
    MyBitcoin, a “wallet” service that stored bitcoins like a bank account, disappeared with about $1 million worth of
    users’ bitcoins. Several of the most trusted and well-known Bitcoin companies, including the Mt. Gox and the
    now-defunct Bitcoinica exchanges, have also suffered high-profile thefts.
    <br><br>
    Victims of credit card theft can cancel a card or reverse fraudulent transactions, but Bitcoin is attractive to thieves because its transactions are irreversible. “Bitcoin is like cash,” says Nicolas Christin, an assistant research professor at Carnegie Mellon University who has done extensive analysis of Bitcoin. “The only way to get it back is by tracking you down and basically beating you up with a lead pipe.”
    <br><br>
    But like all things Bitcoin, it’s difficult to understand exactly how digital theft works. What are you stealing, exactly? And once you’ve got it, what do you do with it?
</p>
<p>
    Content taken from <a href="https://www.theverge.com/2013/12/19/5183356/how-to-steal-bitcoin-in-three-easy-steps">here.</a>
</p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>